@model Nascimento.Software.Livraria_WebApp.Models.LivroFotoModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LivroFotoModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoriaId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoriaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FotoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FotoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AutorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AutorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QtdePaginas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QtdePaginas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagemURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImagemURL)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
    <a asp-action="Alugar" asp-controller="Alugar" asp-route-id="@Model.Id">Alugar</a>
</div>

